html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
}

:root {
	font-family: 'Libre Baskerville', serif;
}


.main_flex {
	display: flex;
	flex-flow: row wrap;
}

.main_flex__nowrap {
	display: flex;
	flex-flow: row nowrap;
}


.flex__jcontent_between {
	justify-content: space-between;
}

.flex__jcontent_start {
	justify-content: flex-start;
}

.flex__jcontent_end {
	justify-content: flex-end;
}

.flex__jcontent_center {
	justify-content: center;
}

.flex__jcontent_around {
	justify-content: space-around;
}


.flex__align-items_start {
	align-items: flex-start;
}

.flex__align-items_end {
	align-items: flex-end;
}


.flex__align-items_stretch {
	align-items: stretch;
}

.flex__align-items_center {
	align-items: center;
}

.flex__align-content_flex-start {
	align-content: flex-start;
}

.flex__align-content_flex-end {
	align-content: flex-end;
}

.flex__align-content_space-between {
	align-content: space-between;
}

.flex__align-content_center {
	align-content: center;
}

.flex__align-content_space-around {
	align-content: space-around;
}

.flex__align-content_stretch {
	align-content: stretch;
}


/*-----------------HEADER-------------------*/

.header-top {
	margin: 8px 15px;
}

button {
	color: #fff;
	text-align: center;
	background-color: #333;
	padding: 15px 25px;
	line-height: 0;
	text-transform: uppercase;
	transition-duration: 0.3s;
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 20px;
	outline: none;
}

header {
	max-width: 1920px;
	margin: 0 auto;
}

button:hover {
	background-color: #fff;
	color: #333;
}

.header-btn1 {
	padding-right: 20px;
}

.header-nav,
.header-phone__number,
.header-contact-me-btn,
.header-image-2,
.header-image-3,
.header-image-6,
.header-image-7 {
	display: none;
}

header {
	height: 100vh;
}

.header-title h3 {
	font-size: 17px;
	color: #333333;
}

.header-title h1 {
	font-size: 25px;
	font-weight: 700;
	color: #333333;
}

.header-grid-container {
	display: grid;
	grid-template-rows: repeat(20, 1fr);
	grid-template-columns: repeat(20, 1fr);
	height: 95vh;
	overflow: hidden;
	align-items: end;
	grid-gap: 2px;
}

.header-image-1 img,
.header-image-4 img,
.header-image-5 img {
	display: block;
	width: 100%;
	border-radius: 60px 0 0 0;
}

.header-image-1 {
	grid-row: 15 / 21;
	grid-column: 3 / 21;
}

.header-image-4 {
	grid-row: 11 / 16;
	grid-column: 7 / 21;
	z-index: 1;
}

.header-image-5 {
	grid-row: 5 / 12;
	grid-column: 13 / 21;
	z-index: 2;
}

.header-title {
	grid-row: 2 / 4;
	grid-column: 2 / 21;
}

.header-title__button {
	grid-row: 5 / 6;
	grid-column: 2 / 10;
}

.header-logo_name p {
	font-size: 12px;
}

.header-logo_name p:first-child {
	font-weight: bold;
}

/* -------------ABOUT SECTION-------------- */

.about-img {
	margin: 15px;
}

.about-img img {
	width: 100%;
	display: block;
}

.about-me__title h3 {
	color: #333333;
	font-size: 23px;
	font-weight: bold;
}

.title_second-line {
	font-size: 33px;
	color: #333333;
}

.title_third-line {
	padding-left: 40px;
	color: #333333;
}

.about-me__info {
	margin: 20px 20px;
}

.about-me__info p {
	color: #4e4e4e;
	line-height: 30px;
	font-size: 17px;
}

.about-me__info p:first-child {
	padding-bottom: 15px;
}

.about-me__info p:last-child {
	display: none;
}

/* -------------PORTFOLIO SECTION-------------- */

.portfolio-title {
	display: none;
}

.image-hover {
	display: none;
}

.portfolio-image_4,
.portfolio-image_5,
.portfolio-image_6 {
	display: none;
}

.portfolio-image_1 img,
.portfolio-image_2 img,
.portfolio-image_3 img {
	display: block;
	width: 100%;
}

.portfolio-images {
	display: flex;
	flex-direction: column;
}

.portfolio-image_1,
.portfolio-image_2,
.portfolio-image_3 {
	margin: 20px 15px 0 15px;
}

.portfolio-btn_container {
	display: none;
}

.portfolio-image_3 {
	position: relative;
}

.load-more {
	position: absolute;
	left: 0;
	bottom: -10%;
	width: 175px;
	height: 60px;
	background-color: #333333;
	cursor: pointer;
}

.load-more p {
	padding: 15px 0 0 10px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
}

.load-more span {
	font-size: 11px;
	font-weight: 300;
	color: #fff;
	padding-left: 10px;
}

#testimonials {
	display: none;
}

#blog {
	display: none;
}

#contact {
	margin-top: 60px;
}

/* -------------CONTACT SECTION-------------- */

.contact-title h3 {
	font-size: 23px;
	font-weight: bold;
}

.contact-title {
	margin-bottom: 50px;
}

.form input {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
	height: 40px;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #979797;
	font-size: 15px;
	padding-left: 15px;
	outline: none;
	margin-bottom: 30px;
	color: #696969;
}

.form textarea {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-family: 'Libre Baskerville', serif;
	width: 90%;
	height: 200px;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #979797;
	font-size: 15px;
	padding-left: 15px;
	outline: none;
	margin-bottom: 30px;
	color: #696969;
}

.contact-me_btn {
	color: #333;
	text-align: center;
	background-color: #fff;
	padding: 15px 110px;
	line-height: 0;
	text-transform: uppercase;
	transition-duration: 0.3s;
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 20px;
	outline: none;
}

.contact-me_btn:hover {
	background-color: #333;
	color: #fff;
}

.form-btn {
	width: 90%;
	margin: 0 auto;
}

/* -------------FOOTER SECTION-------------- */

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
}

.copy p {
	font-size: 14px;
	color: #696969;
	margin-bottom: 20px
}

.socials {
	text-align: center;
}

.socials a {
	margin-left: 40px;
	cursor: pointer;
}

.socials a:first-child {
	margin-left: 0;
}

.designed-by {
	margin-top: 20px;
	margin-bottom: 10px;
}

.designed-by p {
	font-size: 14px;
	color: #696969;
}

@media (min-width: 380px) {
	.header-title h3 {
		font-size: 22px;
	}

	.header-title h1 {
		font-size: 30px;
		font-weight: 700;
	}

	.header-image-1 {
		grid-row: 16 / 21;
		grid-column: 4 / 21;
		align-self: baseline;
	}

	.header-image-4 {
		grid-row: 11 / 17;
		grid-column: 8 / 21;
		z-index: 1;
	}

	.header-image-5 {
		grid-row: 5 / 13;
		grid-column: 13 / 21;
		z-index: 2;
	}

	.header-logo_name p {
		font-size: 14px;
	}
	.load-more {
		bottom: -7%;
	}
}


@media (min-width: 440px) {
	.header-title h3 {
		font-size: 25px;
	}

	.header-title h1 {
		font-size: 35px;
		font-weight: 700;
	}

	.header-image-1 {
		grid-row: 16 / 21;
		grid-column: 4 / 21;
	}

	.header-image-4 {
		grid-row: 12 / 17;
		grid-column: 8 / 21;
		z-index: 1;
	}

	.header-image-5 {
		grid-row: 5 / 12;
		grid-column: 14 / 21;
		z-index: 2;
	}

	.header-logo_name p {
		font-size: 15px;
	}
}

@media (min-width: 480px) {
	.header-image-1 {
		grid-row: 15 / 21;
		grid-column: 4 / 21;
	}

	.header-image-4 {
		grid-row: 10 / 16;
		grid-column: 9 / 21;
		z-index: 1;
	}

	.header-image-5 {
		grid-row: 5 / 11;
		grid-column: 15 / 21;
		z-index: 2;
	}
	.about-wrapper {
		display: flex;
		align-items: center;
	}

	.load-more {
		bottom: -5%;
	}
}

@media (min-width: 530px) {
	.header-title h3 {
		font-size: 25px;
	}

	.header-title h1 {
		font-size: 39px;
		font-weight: 700;
	}
	.header-image-1 {
		grid-row: 15 / 21;
		grid-column: 5 / 21;
	}

	.header-image-4 {
		grid-row: 10 / 16;
		grid-column: 10 / 21;
		z-index: 1;
	}

	.header-image-5 {
		grid-row: 6 / 11;
		grid-column: 16 / 21;
		z-index: 2;
	}
	.load-more {
		bottom: -4%;
	}
}

@media (min-width: 580px) {
	.header-title h3 {
		font-size: 25px;
	}

	.header-title h1 {
		font-size: 39px;
		font-weight: 700;
	}
	.header-image-1 {
		grid-row: 15 / 21;
		grid-column: 5 / 21;
	}

	.header-image-4 {
		grid-row: 10 / 16;
		grid-column: 10 / 21;
		z-index: 1;
	}

	.header-image-5 {
		grid-row: 5 / 11;
		grid-column: 16 / 21;
		z-index: 2;
	}
	.load-more {
		bottom: -3%;
	}
}

@media (min-width: 640px) {
	.header-title h3 {
		font-size: 25px;
	}

	.header-title h1 {
		font-size: 39px;
		font-weight: 700;
	}
	.header-image-1 {
		grid-row: 15 / 21;
		grid-column: 5 / 21;
	}

	.header-image-4 {
		grid-row: 9 / 16;
		grid-column: 10 / 21;
		z-index: 1;
	}

	.header-image-5 {
		grid-row: 5 / 11;
		grid-column: 16 / 21;
		z-index: 2;
	}
	.load-more {
		bottom: -2%;
	}
}

@media (min-width: 768px) {
	/*-----------------HEADER-------------------*/
	.header-top {
		width: 80%;
		align-items: center;
	}

	.header-nav {
		display: flex;
		width: 53%;
   	 	justify-content: space-around;
   	 	padding-top: 10px;
	}

	.header-nav a {
		padding: 0 15px;
		color: #333333;
		text-decoration: none;
		font-size: 12px;
	}
	
	.nav-hover {
		height: 5px;
	    top: 0;
	    border-top: 3px solid black;
	    position: absolute;
	}
	
	.nav-hover_home {
	    width: 5.1%;
	    left: 21.7%;
	    display: none;
	}
	
	.nav-hover_portfolio {
		left: 30.9%;
	    width: 7.7%;
	    display: none;
	}
	
	.nav-hover_blog {
		width: 4.5%;
	    left: 42.3%;
	    display: none;
	}
	
	.nav-hover_contact {
	    width: 9.6%;
	    left: 50.4%;
	    display: none;
	}
	

	.header-phone {
		padding-top: 10px;
		display: flex;
		align-items: center;
	}
	.header-phone__number {
		display: block;
		font-size: 12px;
		color: #888888;
		margin-left: 13px;
	}

	.header-contact-me-btn,
	.header-image-2,
	.header-image-3,
	.header-image-6,
	.header-image-7 {
		display: block;
	}

	.header-image-1 img,
	.header-image-2 img,
	.header-image-3 img,
	.header-image-4 img,
	.header-image-5 img,
	.header-image-6 img,
	.header-image-7 img {
		display: block;
		width: 100%;
		border-radius: 50px 0 0 0;
	}

	.header-image-1 img,
	.header-image-5 img {
		border-radius: 0 0 0 0;
	}


	.header-title {
		grid-row: 6 / 9;
		grid-column: 2 / 21;
	}

	.header-title h3 {
		font-size: 24px;
	}

	.header-title h1 {
		font-size: 40px;
		padding-top: 10px;
	}

	.header-title__button {
		grid-row: 10 / 11;
		grid-column: 2 / 10;
	}

	.header-image-1 {
		grid-row: 15 / 21;
		grid-column: 13 / 21;
	}

	.header-image-2 {
		grid-row: 17 / 21;
		grid-column: 4 / 9;
	}

	.header-image-3 {
		grid-row: 14 / 21;
		grid-column: 9 / 13;
	}

	.header-image-4 {
		grid-row: 10 / 15;
		grid-column: 13 / 18;
	}

	.header-image-5 {
		grid-row: 6 / 15;
		grid-column: 18 / 21;
	}

	.header-image-6 {
		grid-row: 4 / 11;
		grid-column: 15 / 18;
	}

	.header-image-7 {
		grid-row: 4 / 10;
		grid-column: 18 / 21;
	}
	/*-----------------ABOUT-------------------*/
	#about {
		margin-top: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.about-img {
		width: 100%;
	}

	.about-inner-wrapper {
		display: flex;
		flex-direction: column;
	}

	.about-me__title {
		justify-content: flex-start;
		padding-left: 16px;
		padding-top: 13px;
	}

	.about-me__info p:last-child {
		display: block;
	}
	/*-----------------PORTFOLIO-------------------*/
	.wrap {
		width: 85vw;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
	}

	.portfolio-image_1,
	.portfolio-image_2,
	.portfolio-image_3,
	.portfolio-image_4,
	.portfolio-image_5,
	.portfolio-image_6 {
		display: block;
		margin: 0;
	}

	.portfolio-image_1 img,
	.portfolio-image_2 img,
	.portfolio-image_3 img,
	.portfolio-image_4 img,
	.portfolio-image_5 img,
	.portfolio-image_6 img {
		display: block;
		width: 100%;
	}

	.portfolio-images {
		display: grid;
		grid-template-rows: repeat(8, 1fr);
		grid-template-columns: repeat(9, 1fr);
		grid-column-gap: 25px;
	}

	.portfolio-image_1 {
		grid-row: 1 / 9;
		grid-column: 1 / 4;
	}

	.portfolio-image_2 {
		grid-row: 1 / 9;
		grid-column: 4 / 7;
	}

	.portfolio-image_3 {
		grid-row: 1 / 9;
		grid-column: 7 / 10;
		align-self: stretch;
	}

	.portfolio-image_4 {
		grid-row: 4 / 9;
		grid-column: 1 / 4;
	}

	.portfolio-image_5 {
		grid-row: 5 / 9;
		grid-column: 4 / 7;
		align-self: end;
	}

	.portfolio-image_6 {
		grid-row: 6 / 9;
		grid-column: 7 / 10;
		align-self: end;
	}

	.portfolio-image_1:hover .image-container,
	.portfolio-image_2:hover .image-container,
	.portfolio-image_3:hover .image-container,
	.portfolio-image_4:hover .image-container,
	.portfolio-image_5:hover .image-container,
	.portfolio-image_6:hover .image-container {
		display: block;
	}

	.portfolio-image_1,
	.portfolio-image_2,
	.portfolio-image_3,
	.portfolio-image_4,
	.portfolio-image_5,
	.portfolio-image_6 {
		position: relative;
	}

	.portfolio-image_1 .image-hover {
		position: absolute;
		left: 20%;
		top: 2%;
		width: 60%;
		display: none;
	}

	.portfolio-image_1:hover .image-hover,
	.portfolio-image_2:hover .image-hover,
	.portfolio-image_3:hover .image-hover,
	.portfolio-image_4:hover .image-hover,
	.portfolio-image_5:hover .image-hover,
	.portfolio-image_6:hover .image-hover {
		display: block;
		cursor: pointer;

	}

	.portfolio-image_2 .image-hover {
		position: absolute;
		left: 5%;
		top: 2.5%;
		width: 90%;
		display: none;
	}

	.portfolio-image_3 .image-hover {
		position: absolute;
		left: 5%;
		top: 10.5%;
		width: 90%;
		display: none;
	}

	.portfolio-image_4 .image-hover {
		position: absolute;
		left: 5%;
		top: 15.5%;
		width: 90%;
		display: none;
	}

	.portfolio-image_5 .image-hover {
		position: absolute;
		left: 5%;
		top: 7.5%;
		width: 90%;
		display: none;
	}

	.portfolio-image_6 .image-hover {
		position: absolute;
		left: 20%;
		top: 5.5%;
		width: 60%;
		display: none;
	}

	.load-more {
		display: none;
	}

	.portfolio-btn_container {
		display: flex;
		justify-content: center;
		margin-top: 40px;
	}

	.portfolio-btn {
		color: #333;
		text-align: center;
		background-color: #fff;
		padding: 15px 30px;
		line-height: 0;
		text-transform: uppercase;
		transition-duration: 0.3s;
		cursor: pointer;
		border: 1px solid #333;
		border-radius: 20px;
		outline: none;
	}

	.portfolio-btn:hover {
		background-color: #333;
		color: #fff;
	}

	.line {
		height: 20px;
		width: 90vw;
		margin: 0 auto;
		margin-top: 70px;
		max-width: 1200px;
		border-top: 1.3px solid #e9ecf5;
	}


	#portfolio {
		margin-top: 50px;
	}

	.portfolio-title {
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}

	.portfolio-title h3 {
		font-size: 40px;
		font-weight: 700;
		color: #333333;
	}

	.footer-container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	/*-----------------TESTIMONIALS-------------------*/
	#testimonials {
		display: block;
		margin-top: 40px;
	}

	#testimonials .wrap {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	.quote-left {
		position: absolute;
		top: 65px;
		left: 85px;
	}

	.quote-right {
		position: absolute;
		bottom: 75px;
		right: 80px;
	}


	.testimonials-testimonial {
		text-align: center;
		width: 75%;
		padding-bottom: 35px;
	}

	.testimonials-testimonial p {
		color: #696969;
	}

	.testimonials-title {
		display: flex;
		justify-content: center;
		margin-bottom: 35px;
	}

	.testimonials-title h3 {
		font-size: 40px;
		font-weight: 700;
		color: #333333;
	}

	.testimonials-by {
		margin: 30px
	}

	.testimonials-by p {
		color: #333333;
	}

	.testimonials-socials {
		display: flex;
		justify-content: center;
	}
	
	.testimonials-socials  a {
		outline: none;
	}

	.testimonials-socials img {
		padding: 0 13px;
	}

	.slide_item1,
	.slide_item2,
	.slide_item3 {
		outline: none;
	}
	/*-----------------BLOG-------------------*/
	#blog {
		display: block;
	}

	.blog-title h3 {
		font-size: 40px;
		font-weight: 700;
		color: #333333;
		margin: 0 auto;
		text-align: center;
		margin-top: 40px;
	}

	.blog-line1 {
		display: flex;
		margin-top: 100px;
		margin-bottom: 70px;
	}

	.blog-container h4 {
		font-size: 23px;
		color: #333333;
		font-weight: 700;
		padding: 25px;
	}

	.blog-container p {
		color: #696969;
		padding: 25px 25px 45px 25px;
	}

	.blog-container span {
		font-size: 14px;
		padding: 25px 25px 25px 25px;
		font-weight: 700;
		cursor: pointer;
		color: #333333;
	}

	.blog-line2 {
		display: flex;
		flex-direction: row-reverse;
	}
	/*-----------------CONTACT-------------------*/
	.contact-title h3 {
		font-size: 40px;
		font-weight: 700;
		color: #333333;
		margin-top: 30px;
	}

	.form-line1 {
		display: flex;
		justify-content: space-between;
	}


	.input-container {
		width: 50%;
	}


	.form textarea {
		width: 95%;
		height: 100px;
	}

	.form-btn {
		display: flex;
		justify-content: flex-start;
		margin-left: 20px;
	}

	.contact-me_btn {
		padding: 15px 35px;
	}
	/*-----------------MODAL-------------------*/
	.black_fill {
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.modal_box {
		position: fixed;
		top: 20vh;
		width: 40vw;
		left: calc(50% - 25vw);
		z-index: 110;
	}

	.content_modal {
		width: 100%;
		background-color: #fff;
		padding: 10%;
	}

	.close_modal {
		width: 2vw;
		height: 2vw;
		fill: #fff;
		position: absolute;
		top: -4vw;
		right: -12vw;
		cursor: pointer;
	}

	.modal_box,
	.black_fill {
		display: none;
	}

}

@media (min-width: 1080px) {
	.nav-hover_home {
		width: 4.1%;
   	 	left: 22%;
	}
	
	.nav-hover_portfolio {
		left: 31.7%;
    	width: 5.7%;
	}
	
	.nav-hover_blog {
		width: 3.2%;
    	left: 42.9%;
	}
	
	.nav-hover_contact {
		width: 6.9%;
    	left: 51.7%;
	}
	
	.header-title {
		grid-row: 7 / 9;
		grid-column: 3 / 21;
	}

	.header-title h3 {
		font-size: 30px;
	}

	.header-title h1 {
		font-size: 52px;
		padding-top: 10px;
	}

	.header-title__button {
		grid-row: 10 / 11;
		grid-column: 3 / 10;
	}

	.header-image-1 {
		grid-row: 16 / 21;
		grid-column: 16 / 21;
		align-self: baseline;
	}

	.header-image-2 {
		grid-row: 14 / 21;
		grid-column: 10 / 13;
		align-self: end;
	}

	.header-image-3 {
		grid-row: 14 / 21;
		grid-column: 13 / 16;
		align-self: baseline;
	}

	.header-image-4 {
		grid-row: 9 / 16;
		grid-column: 16 / 19;
	}

	.header-image-5 {
		grid-row: 6 / 16;
		grid-column: 19 / 21;
	}

	.header-image-6 {
		grid-row: 5 / 13;
		grid-column: 17 / 19;
	}

	.header-image-7 {
		grid-row: 4 / 11;
		grid-column: 19 / 21;
	}

	.header-nav a {
		font-size: 17px;
	}

	.blog-container {
		padding-right: 150px
	}
}
